@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login-page {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 103, 244, 1) 43%
  );
}
